<div class="about_container">
  <div class="about_text">
    <h1>aboutMe()</h1>
    <p>
      Sou uma pessoa esforçada e dedicada com anos de experiência em atendimento
      ao cliente em diversos segmentos, como varejo, alimentação e serviços.
      Atuo com paixão em proporcionar uma experiência positiva para cada
      cliente, construindo relacionamentos duradouros e fidelizando a clientela.
    </p>
    <p>
      Minha trajetória profissional foi construída em empresas de pequeno e
      médio porte, onde desenvolvi habilidades interpessoais excepcionais,
      capacidade de trabalhar em equipe e adaptabilidade a diferentes ambientes
      de trabalho.
    </p>
    <p>
      Atualmente, curso o EJA para concluir o ensino médio e pretendo ingressar
      na faculdade em até 1 ano. Sou uma pessoa proativa e busco constantemente
      aprimorar minhas habilidades e conhecimentos. Acredito que meu perfil se
      encaixa perfeitamente em empresas que valorizam colaboradores
      comprometidos com o crescimento mútuo.
    </p>
  </div>
  <div class="button-links_container">
    <app-button
      class="button"
      width="300px"
      height="100px"
      title="FrontEnd Developer"
      subtitle_a="Projetos"
      logo="assets/code.svg"
      (click)="scrollToSection()"
    ></app-button>
    <app-button
      class="button"
      width="300px"
      height="100px"
      title="Minhas redes sociais"
      subtitle_a="LinkedIn"
      sublogo_a="assets/linkedin_icon.svg"
      subtitle_b="GitHub"
      sublogo_b="assets/github_icon.svg"
      link_a="https://www.linkedin.com/in/maria-eduarda-dos-santos-penalva/"
      link_b="https://github.com/LuaSolitaria"
    ></app-button>
  </div>
</div>
